@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,400;1,700&display=swap');

* {

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

html,
body {
    background-image: url("./assets/rm314-bb-18.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}




header {


    text-align: center;
    align-items: center;
    margin-top: 60px;

    width: 100%;

    top: 0;
    z-index: 1000;
}

#logo {
    margin-top: 50px;
    width: 10%;
    width: 250px;


}

h1 {
    color: white;
    font-size: 500%;

}



section {
    margin-top: 10%;
    display: flex;
    flex-direction: column;

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1000px;


}

#boton {
    width: 150px;
    padding: 10px;
    color: orange;
    border-left: 0.08em solid;
    position: relative;
    margin-top: 0.8em;
    cursor: pointer;

}

#boton::before,
#boton::after {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
}

#boton::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
}

#boton::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
}

#boton {
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    border: 0.08em solid;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}

#boton:hover {
    transform: translateX(0.15em);
}



div {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    align-items: center;
}

p {
    padding: 20px;

}

#div1 {
    display: none;

    text-align: center;

    background-color: rgb(226, 214, 200);
    padding: 15px;


}

#div2 {
    display: none;
    text-align: center;
    padding: 10px;
    background-color: rgb(226, 214, 200);
}

#div3 {
    display: none;

    text-align: center;
    background-color: rgb(226, 214, 200);
    padding: 10px;
}

#div4 {
    display: none;
    flex-direction: column;
    text-align: center;
    padding: 15px;



}





#proyecto {
    margin: 10px;
    height: 150px;
    width: 150px;

}

#back {
    display: block;
    padding: 5px 10px;
    margin: auto;
    color: orange;
    border: 2px solid orange;
    border-radius: 0px;


    font-family: "Lucida Console", Monaco, monospace;

    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #333;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}




#back:hover {
    box-shadow: inset 0 0 0 50px #333;
}

#footerfoto {
    width: 100px;
    height: 100px;
    margin: 30px;
}


footer {
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;


}