header {

    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1000;
}

#nav1 {
    display: flex;


}

#nav1 ul {
    margin: 30px;
}

#nav1 a {
    color: white;
}

#burguer {
    width: 100px;
    display: none;
}

#casa {
    width: 100px;


}

@media screen and (max-width: 768px) {
    #burguer {
        display: block;
        width: 35px;
        height: auto;
    }

    #nav1 {
        display: none;
    }

    #casa {
        width: 50px;
        height: auto;
    }
}